.myAssignmentCard {
    width: 500px;
    background: #8654ff;
    color: white;
    padding: 20px;
    border-radius: 17px;
    box-shadow: 0 2px 16.8px 3.2px #00264214;
}

.myAssignmentCard p {
    overflow: hidden;

}

.myAssignmentCard p span {
    font-weight: 700;
    color: #ffb72d;
}

.myAssignmentCard p a {
    text-decoration: underline;
}




@media screen and (max-width: 400px) {


    .myAssignmentCard {
        width: 100%;
        margin: auto;
    }
}

@media screen and (min-width:400px) and (max-width: 515px) {


    .myAssignmentCard {
        width: 400px;
        margin: auto;
    }
}