.myAssignmentContainer {
    height: 100vh;
    position: relative;
    background-color: #2e0a90;
    background-image: linear-gradient(19deg, #2e0a90 0%, #583fa8 100%);



}


.creationWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

.myCreations {
    display: grid;
    grid-template-columns: repeat(2, 500px);
    gap: 20px;
}

.head {
    font-size: 33px;
    text-align: center;
    padding: 18px 0 0 0;
    color: white;
}