.pendingSubmissionCardCon {
    background: #8b5aff;
    color: white;
    width: 500px;
    padding: 15px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    transition: 0.5s;
    cursor: pointer;
    transition: 0.3s;
}



.submissionInfo {
    transition: 0.3s;
}

.pendingSubmissionCardCon:hover {
    padding: 15px 15px 30px 15px;
}

.submissionInfo p {
    overflow: hidden;
}

/* .pendingSubmissionCardCon:hover .submissionInfo {
    padding: 0 0 0 10px;
} */

.btnDiv {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.btnDiv button {
    background-color: #b0eb00;
    padding: 5px 12px;
    border-radius: 3px;
    color: #0a1021;
    font-weight: 600;
    transition: 0.3s;
}

.giveMarkBtn {
    background: white !important;
    color: #ff5500 !important;
    padding: 5px 15px;
}

.btnDiv button:hover {
    border-radius: 20px;

}


.preViewCon {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    background: #3e3e3e9c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.previewHolder {
    width: 500px;
    position: relative;
}

.cancelPreView {
    position: absolute;
    cursor: pointer;
    top: -65px;
    right: -65px;
    background: #794bf9;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    border-radius: 50%;
    font-size: 26px;
}

.giveMarkCon {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background: #a7a7a766;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;

}

.giveMarkCon form {
    background-color: rgb(100 48 219);
    padding: 45px 20px;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    position: relative;

}

.giveMarkCon form>p {
    overflow: hidden;
    width: 100%;
}


.giveMarkCon form>p>span {
    font-weight: 700;
    color: #ffd600;
}

.giveMarkCon form>p>a {
    text-decoration: underline;
    text-decoration: underline;
    font-style: italic;
}

.markActivity {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.markBox {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.giveMarkCon form .markActivity .markBox p {
    background: #ff4b20;
    padding: 6px 10px;
    border-radius: 4px;
    font-weight: 700;
    width: 61px;
    font-size: 16px;

}

.giveMarkCon form .markActivity .markBox input {
    background: #432781;
    width: 100%;
    padding: 5px 10px;
    outline: none;

}

.giveMarkCon form .markActivity textarea {
    background: #432781;
    width: 100%;
    height: 150px;
    outline: none;
    padding: 5px 10px;
    resize: none;
}

.giveMarkCon form button {
    background: #5303cf;
    width: 100%;
    border-radius: 6px;
    padding: 10px 0;
    box-shadow: 0 2px 16.8px 3.2px #5303cf9c;
    transition: 0.3s;
}

.giveMarkCon form button:hover {
    width: 95%;
    margin: auto;
    padding: 8px 0;
}

.cancleGivingMark {
    position: absolute;
    font-size: 31px;
    right: 17px;
    cursor: pointer;
    top: 5px;
}



@media screen and (max-width: 400px) {
    .pendingSubmissionCardCon {
        width: 95%;
    }
}

@media screen and (min-width: 400px) and (max-width: 515px) {
    .pendingSubmissionCardCon {
        width: 98%;
    }
}

/* preview  */
@media screen and (max-width: 400px) {
    .cancelPreView {
        top: -45px;
        right: 0;
    }

    .previewHolder {
        width: 90%;
    }
}

@media screen and (min-width: 400px) and (max-width: 515px) {
    .cancelPreView {
        top: -45px;
        right: 0;
    }

    .previewHolder {
        width: 90%;
    }
}

@media screen and (min-width: 515px) and (max-width: 640px) {
    .cancelPreView {
        top: -45px;
        right: 12px;
    }
}



/* mark form */

@media screen and (max-width: 400px) {
    .giveMarkCon form {
        width: 95%;
    }
}

@media screen and (min-width: 400px) and (max-width: 1000px) {
    .giveMarkCon form {
        width: 90%;
    }
}

@media screen and (min-width: 1921px) {}