.assignmentCard {
    border-radius: 10px;
    width: 350px;
    overflow: hidden;
    box-shadow: 0 2px 16.8px 3.2px #00264214;
}

.assignmentImgBox {
    width: 100%;
    height: 230px;
    background-color: black;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.assignmentImgBox img {
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
}


.assignmentInfo {
    padding: 20px 10px;
}

.assignmentInfo h1 {
    font-size: 23px;
    font-weight: 700;
    color: #6a2bff;
    height: 70px;
}

.assignmentBtns {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    margin: 15px 0 0 0;
}

.assignmentIcon div .assignmentIcon {}


.assignmentBtns div {
    position: relative;
    color: white;
    padding: 5px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: 0.3s;

}


.delete {
    background-color: #f34949 !important;
}

.edit {
    background-color: #2ed573 !important;
}

.view {
    background-color: #ff723a !important;
}

.assignmentBtns div .whatBtn {
    display: none;
}

.assignmentBtns div:hover .whatBtn {
    display: inline-block;
}

.assignmentBtns div:hover {
    width: 200px;
    border-radius: 3px;
}



/* bannner */
@media screen and (max-width: 470px) {
    .assignmentsBanner h1 {
        font-size: 60px;
    }

    .assignmentsBanner p {
        font-size: 15px;
        text-align: center;
    }
}

@media screen and (max-width: 400px) {
    .assignments {
        justify-content: center;
        grid-template-columns: repeat(1, 350px);
        gap: 50px;
    }

    .filter {
        width: 100vw;
    }

    .dataHeading h1 {
        text-align: center;
    }

    .allAssignmentsContainer {
        width: 100vw;
    }
}




@media screen and (min-width: 400px) and (max-width: 765px) {
    .assignments {
        justify-content: center;
        grid-template-columns: repeat(1, 350px);
        gap: 50px;
    }

    .filter {
        width: 100vw;
    }

    .dataHeading h1 {
        text-align: center;
    }

    .allAssignmentsContainer {
        width: 100vw;
    }
}

@media screen and (min-width: 765px) and (max-width: 1115px) {
    .assignments {
        justify-content: center;
        grid-template-columns: repeat(2, 350px);
        gap: 50px;
    }

    .filter {
        width: 100vw;
    }

    .dataHeading h1 {
        text-align: center;
    }

    .allAssignmentsContainer {
        width: 100vw;
    }
}

@media screen and (min-width: 1115px) and (max-width: 1240px) {
    .assignments {
        justify-content: center;
    }

    .allAssignmentsContainer {
        width: 100vw;
    }
}

@media screen and (min-width: 1921px) {}