.createAssignmentCon {
    min-height: 100vh;
    background-color: #401aa0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    overflow: hidden;
}


.createNew {
    position: absolute;
    top: 55px;
    font-size: 38px;
    color: white;
}

.createNew h1 {
    position: relative;
}

.createNew h1::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 3px;
    background: linear-gradient(187deg, rgb(175 85 255) 35%, rgb(116 79 255))
}

.assignmentCreateform {
    background: white;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    border-radius: 10PX;
    padding: 20px;

}


.assignmentCreateform button {
    width: 100%;
    background: #7825cb;
    color: white;
    padding: 5px 0;
    font-size: 19px;

}

.assignmentCreateform input {
    width: 100%;
    padding: 10px;
    background: #7945ff;
    outline: none;
    color: white;
}


.assignmentCreateform input::placeholder {
    color: rgba(255, 255, 255, 0.723)
}



.assignmentCreateform textarea {
    width: 100%;
    padding: 10px;
    background: #7945ff;
    resize: none;
    height: 100px;
    outline: none;
    color: white;
}

.assignmentCreateform textarea::placeholder {
    color: rgba(255, 255, 255, 0.723)
}


.assignmentCreateform .assignmentSubmitRow {
    width: 100%;
}


.bros {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.defficulty {
    width: 30%;
}

.bros select {
    width: 100%;
    height: 42px;
    background: #7945ff;
    color: white;
    padding: 0 5px;
    outline: none;
}

.bros select option {
    background-color: white;
    color: black;
}

.whiteWave {
    position: absolute;
    bottom: -65px;
    transform: rotate(180deg);
}