.navWrapper {
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #150047;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1600px;
    margin: auto;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}



nav ul li .navLinks {
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
    color: #ffffff;
    font-weight: 400;
}

.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.717);


}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #ffffff;
    border: 1px solid white;
    padding: 11px 19px;
    border-radius: 5px;
}


.userContainer {
    position: relative;
}

.userProfile {
    overflow: hidden;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: #956cff;
    padding: 3px;
    cursor: pointer;

}

.userProfile img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}


.userActivity {
    position: absolute;
    background: white;
    padding: 8px 20px;
    border-radius: 7px;
    right: 15px;
    top: 59px;

    width: 200px;
    display: flex;
    justify-content: center;
    align-items: self-start;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0 2px 16.8px 3.2px #00264214;

}


.userActivity p {
    color: #9466ff;
    font-weight: 700;
    font-size: 20px;
}


.userLinks {
    display: flex;
    justify-content: center;
    align-items: self-start;
    flex-direction: column;
}


.userLinks a {
    margin: 5px 0 0 0;
}

.userLinks a:hover {
    text-decoration: underline;
}

.userLinks button {
    background: #401aa1;
    color: white;
    padding: 5px 13px;
    border-radius: 20px;
    width: 100%;
    margin: 25px 0 0 0;
}



.crossUser {
    position: absolute;
    right: 7px;
    top: 7px;
    font-size: 25px;
    cursor: pointer;
}



/* drawer */

.menuIcon {
    display: none;
    font-size: 30px;
    color: rgb(255, 255, 255)
}

.drawer {
    display: none;
    width: 400px;
    height: 100vh;
    position: absolute;
    background: #614ead;
    top: 0;
    right: 0;
    padding: 20px;
}

.drawerTop {
    font-size: 27px;
    /* text-align: center; */
    float: right;
    color: white;
    background: #3818b5;
    border-radius: 50%;
    padding: 7px;
}


.drawerUser {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    padding: 3px;
    background: #4306d3;
}

.drawer img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
}


.drawerLinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    margin: 50px 0 0 0;
}

.drawerLinks .navLinks {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    font-size: 20px;
    color: white;
}

.drawerLinks .active {
    text-decoration: underline;
}

.drawerLogoutBtn {
    padding: 5px 10px;
    color: white;
    background: #ff3636;

}


@media screen and (max-width: 400px) {
    .drawer {
        width: 300px;
    }
}

@media screen and (max-width: 700px) {
    .logo {
        width: 200px;
    }
}

@media screen and (max-width: 1380px) {
    nav {
        width: 90%;
    }

    nav ul {
        display: none;
    }

    .login {
        display: none;
    }

    .userContainer {
        display: none;
    }

    .drawer {
        display: inline-block;
    }

    .menuIcon {
        display: inline-block;
    }
}

@media screen and (min-width: 1380px) and (max-width: 1500px) {
    nav {
        width: 98%;
    }
}

@media screen and (min-width: 1500px) and (max-width: 1620px) {
    nav {
        width: 95%;
    }
}

@media screen and (min-width: 1921px) {}