.allWraper {
    background-color: #2e0a90;
    background-image: linear-gradient(19deg, #2e0a90 0%, #583fa8 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.allWraper>h1 {
    font-size: 35px;
    color: white;
}

.pendingSubmissionCon {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 50px 0;
}


.noPending {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    flex-direction: column;
    gap: 10px;


}

.noPending h1 {
    font-size: 35px;
}


@media screen and (max-width: 400px) {}

@media screen and (min-width: 401px) and (max-width: 720px) {}

@media screen and (min-width: 721px) and (max-width: 1280px) {}

@media screen and (min-width: 1281px) and (max-width: 1440px) {}

@media screen and (min-width: 400px) and (max-width: 530px) {

    .noPending img {
        width: 90%;

    }

    .noPending h1 {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1921px) {}