.detailCon {
    width: 1000px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: self-start;
    flex-direction: column;
    gap: 44px;
    padding: 40px 0;
}


.assignmentImg {
    width: 1000px;
    overflow: hidden;
    background: rgb(255, 255, 255);
}

.assignmentImg img {
    width: 100%;
    object-fit: cover;
}


.infos h1 {
    font-size: 35px;
    font-weight: 700;

}

.infos .describeInfo {
    color: black;
    font-size: 15px;
    font-weight: 400;
    margin: 6px 0 31px 0;
}

.infos p {
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 15px;
}

.infos p span {
    color: #ffa32c;
    font-weight: 500;
}

.detailsBtn {
    width: 100%;
}

.detailsBtn button {
    color: white;
    width: 100%;
    background: #5711ff;
    padding: 12px 0px;
    border: 1px solid #5811ff00;
    border-radius: 6px;
    transition: 0.2s;
}

.detailsBtn button:hover {
    transform: scale(0.97);
    background: transparent;
    border: 1px solid #5711ff;
    color: #5711ff;
}

.submitModalCon {
    position: fixed;
    z-index: 9999;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #5d5d5d87;
}

.submitModalCon form {
    background: white;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 450px;
    position: relative;
}


.submitModalCon h1 {
    font-weight: 700;
    font-size: 27px;
    margin: 0 0 21px 0;
}

.submitModalCon form div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}


.submitModalCon form div input {
    background: #5654ff;
    padding: 10px;
    color: white;
    width: 100%;
    outline: none;

}

.submitModalCon form div textarea {
    background: #5654ff;
    padding: 10px;
    height: 100px;
    color: white;
    resize: none;
    outline: none;
    width: 100%;

}

.submitModalCon form div button {
    color: white;
    background: #ff4747;
    font-size: 18px;
    width: 100px;
    padding: 2px 0;
}

.submitModalCon form .cancelForm {
    position: absolute;
    width: fit-content;
    top: 10px;
    font-size: 18px;
    right: 12px;
    background: #5654ff;
    color: white;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}


@media screen and (max-width: 415px) {
    .detailCon {
        width: 100vw;
    }

    .assignmentImg {
        width: 90%;
        margin: auto;
    }

    .infos {
        width: 90%;
        margin: auto;
    }

    .detailsBtn {
        width: 90%;
        margin: auto;
    }
}

@media screen and (min-width: 415px) and (max-width: 520px) {
    .detailCon {
        width: 100vw;
    }

    .assignmentImg {
        width: 400px;
        margin: auto;
    }

    .infos {
        width: 400px;
        margin: auto;
    }

    .detailsBtn {
        width: 400px;
        margin: auto;
    }
}

@media screen and (min-width: 520px) and (max-width: 722px) {
    .detailCon {
        width: 100vw;
    }

    .assignmentImg {
        width: 500px;
        margin: auto;
    }

    .infos {
        width: 500px;
        margin: auto;
    }

    .detailsBtn {
        width: 500px;
        margin: auto;
    }
}

@media screen and (min-width: 722px) and (max-width: 1022px) {
    .detailCon {
        width: 100vw;
    }

    .assignmentImg {
        width: 700px;
        margin: auto;
    }

    .infos {
        width: 700px;
        margin: auto;
    }

    .detailsBtn {
        width: 700px;
        margin: auto;
    }
}

@media screen and (min-width: 1921px) {}