.homeWrapper {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(187deg, rgb(64 26 161) 35%, rgba(35, 14, 112, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    position: relative;
}


.sideImage {
    width: 600px;
    z-index: 20;
}

.bannerText {
    width: 800px;
    position: relative;
}

.bannerText .title {
    width: 900px;
    color: white;
    font-size: 70px;
    font-weight: 700;
}

.bannerText p {
    color: #ffffff;

}

.bgGraphic {
    height: 500px;
    width: 500px;
    background: transparent;
    border-radius: 50%;
    border: 4px dashed #adeb00;
    position: absolute;
    right: -500px;
    z-index: 1;
    bottom: 15px;
    animation: graphicAni infinite linear 60s;
}

@keyframes graphicAni {
    100% {
        transform: rotate(360deg);
    }
}


.bannerButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    gap: 20px;
    margin: 33px 0 0 0;
}

.bannerButtons .bgBtn {
    border-radius: 29px;
    padding: 10px 33px;
    color: #4f4848;
    font-size: 22px;
    background-color: #b1ea00;
    border: 1px solid #b0ea0000;
    transition: 0.2s;
}

.bannerButtons .bgBtn:hover {
    background-color: transparent;
    border: 1px solid #b1ea00;
    color: white;

}

.bannerButtons .borderBtn {
    border-radius: 29px;
    padding: 10px 33px;
    color: #ffffff;
    font-size: 22px;
    border: 1px solid #b1ea00;
    transition: 0.3s;
}

.bannerButtons .borderBtn:hover {
    background-color: #b1ea00;
    border: 1px solid #b0ea0000;
}


.wave {
    position: absolute;
    bottom: -9px;
    z-index: 99;
    transform: rotate(180deg);

}

.wave image {
    width: 100vw;
    object-fit: cover;
}




@media screen and (max-width: 500px) {
    .bannerText p {
        width: 359px;
        font-size: 14px;
    }

    .bannerText {
        width: fit-content;
    }

    .homeWrapper {
        justify-content: center;
        flex-direction: row;
    }

    .sideImage {
        display: none;
    }


    .bgGraphic {
        display: none;
    }

    .bannerText .title {
        width: 292px;
        font-size: 24px;
    }
}

@media screen and (min-width: 500px) and (max-width: 642px) {
    .bannerText p {
        width: 472px;
        font-size: 14px;
    }

    .bannerText {
        width: fit-content;
    }

    .homeWrapper {
        justify-content: center;
        flex-direction: row;
    }

    .sideImage {
        display: none;
    }


    .bgGraphic {
        display: none;
    }

    .bannerText .title {
        width: 396px;
        font-size: 34px;
    }
}


@media screen and (min-width: 642px) and (max-width: 1100px) {
    .bannerText p {
        width: 600px;
    }

    .bannerText {
        width: 600px;
    }

    .homeWrapper {
        justify-content: center;
        flex-direction: row;
    }

    .sideImage {
        display: none;
    }


    .bgGraphic {
        display: none;
    }

    .bannerText .title {
        width: 600px;
        font-size: 50px;
    }
}

@media screen and (min-width: 1100px) and (max-width: 1255px) {
    .homeWrapper {
        gap: 0;
    }

    .sideImage {
        width: 400px;
    }


    .bgGraphic {
        height: 300px;
        width: 300px;
        right: -251px;
        bottom: 101px;
    }

    .bannerText .title {
        width: 600px;
        font-size: 50px;
    }
}

@media screen and (min-width: 1255px) and (max-width: 1420px) {
    .homeWrapper {
        gap: 0;
    }

    .sideImage {
        width: 400px;
    }


    .bgGraphic {
        height: 300px;
        width: 300px;
        right: -251px;
        bottom: 101px;
    }

    .bannerText .title {
        width: 600px;
        font-size: 50px;
    }

}

@media screen and (min-width: 1420px) and (max-width: 1550px) {
    .sideImage {
        width: 500px;
    }

    .bannerText .title {
        width: 709px;

        font-size: 61px;

    }
}

@media screen and (min-width: 1921px) {}